<h1>GeekTwitter</h1>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<h3>Tweet一覧</h3>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "いいねランキングへ", likes_index_path %>
<%= link_to "新規投稿へ", new_tweet_path %>
<br>
<%= page_entries_info @tweets %>
<div class="tweets-container">


<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>






<% @tweets.each do |t| %>
    <div class="tweet">
      <%# <%= image_tag t.image_url, :cloud_name => "dkfs9ptin"  if t.image? %>

  <% t.image.each do |blog| %>
   <%= image_tag (blog.url), size: "250x200" %>
  <% end %>




      <%= t.body %>
      <%= t.created_at %>
      <%= t.user. email %>

      <% if user_signed_in? && current_user.id == t.user_id %>  
        <%= link_to "編集する", edit_tweet_path(t.id) %>
        <%= button_to "削除する", tweet_path(t.id), method: :delete %>
      <% end %>

    <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
      <% else %>
          <p>いいねの数 = </p><%= t.likes.count %>
      <%= link_to "詳細へ", tweet_path(t.id) %>


      
    <% end %>
    </div>
<% end %>
</div>


<%= paginate @tweets %>


