<%= link_to "投稿一覧へ", tweets_path %>

<p>いいねランキング</p>
<% @rank_tweets.each do |t| %>
 <div class="tweet">

      <%= t.body %>

 <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
      <% else %>
          <p>いいねの数 = </p><%= t.likes.count %>
      <% end %>

      <%= t.created_at %>
       <%= t.user.email %>

      <%= image_tag t.image_url, size: "250x200" if t.image? %>

      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
    </div>
<% end %>